/* #box {
    height: 200px;
    width: 100px;   
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(0, 46, 250);
    color: white;
} */


.content{
    color: red;

}
.newClass {
    background-color: green
}